biopython>=1.77
biothings-client>=0.2
lxml>=4
matplotlib>=3.2.0
matplotlib-venn
numpy>=1.18
palettable>=3.3.0
pandas>=1.0
patsy>=0.5
pymc>=2.3
rpy2>=3.1
scikit-learn>=0.22
scipy>=1.4
seaborn>=0.10
statsmodels>=0.11
